<div class="row">
    <div class="col-md-6">
        <div class="box box-home">
            <div class="box-header with-border">
                <h3 class="box-title">Caso de Teste</h3>
                <div class="box-tools pull-right">
                    <button title="Necessita de Ação" type="button" class="btn btn-box-tool">
                        <i class="fa fa-exclamation-triangle"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div id="node1-air" class="col-md-6" style="height: 200px;"></div>
                <div id="node1-soil" class="col-md-6" style="height: 200px;"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-home">
            <div class="box-header with-border">
                <h3 class="box-title">Plantação Feijão</h3>
                <div class="box-tools pull-right">
                    <button title="OK!" type="button" class="btn btn-box-tool">
                        <i class="fa fa-check"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div id="node2-air" class="col-md-6" style="height: 200px;"></div>
                <div id="node2-soil" class="col-md-6" style="height: 200px;"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="box box-home">
            <div class="box-header with-border">
                <h3 class="box-title">Plantação Milho</h3>
                <div class="box-tools pull-right">
                    <button title="Watson já está tomando uma ação" type="button" class="btn btn-box-tool">
                        <i class="fa fa-clock-o"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div id="node3-air" class="col-md-6" style="height: 200px;"></div>
                <div id="node3-soil" class="col-md-6" style="height: 200px;"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-home">
            <div class="box-body">
                <div id="map"></div>
            </div>
        </div>
    </div>
</div>